# for the following libraries: the latest version from github as of this writing (not released yet)
orqviz
orquestra-vqa
numdifftools
boto3
orquestra-quantum==0.6.0
git+https://github.com/zapatacomputing/orquestra-qulacs@4c56774#egg=orquestra-qulacs


